* { margin: 0; padding: 0; }
.content {
  width: 100%;
}
.content table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 2px;
}
.poker tr td {
  width: 33.3%;
  height: 292px;
}
.card {
  border: 1px dotted #999;
  page-break-before: auto;
  text-align: center;
}
.card dl {
  font-size: 12px;
}
.card dl dt {
  font-weight: bold;
  clear:left;
  float: left; 
  width: 50px;
  margin-bottom: 5px;
}
.card dl dd {
  float: left;
  width: 165px;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}
